html, body {
	border: 0px;
	margin: 0px;
}

body {
	background: rgb(40,40,40);
	color: rgb(180, 180, 180);
	font-family: 'Open Sans', sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}

a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.wrapper {
	background: rgb(25, 25, 25);
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	padding: 15px;
}

p {
	text-align: justify;
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 0.9em;
}

p.last {
	margin-bottom: 0px;
}

h1 {
	text-align: center;
	font-size: 1.5em;
}